<!--<a href="#/Home" class="add-new-button">Home</a>
<a href="#/addPerson" class="add-new-button">Add New Person</a>
<a href="#/CreateList" class="add-new-button">Create New List</a>
<a href="#/EditExistingList" class="add-new-button">Edit Existing List</a>-->
<br/>
<h2>Creat New</h2>
<hr>
<table class="NewList-app-table">
    <tr>
        <td>Create New List here</td>
    </tr>
    <tr>
    <td><input type="text" data-ng-model="newListName"></td>
    </tr>
   <tr>
        <td><input type="button" value="Create Gratis List" data-ng-click="createList(newListName)"></td>
    </tr>
    <tr>
        <td><input type="text" data-ng-model="person.lastName"></td>
    </tr>
</table>