<table>
    <tr>
        <td>List Name</td>
        <td>
            <select ng-model="selectedItem" ng-change="update()">
                <option ng-repeat="item in listNames" ng-selected="selectedItem == item.Title" value="{{item.Title}}">{{item.Title}}</option>
            </select>
        </td>
        <td colspan="3">
            <input type="button" value="Add People" ng-click="works()" />
        </td>
    </tr>
    <tr ng-if="owner">
        <td>List Owner</td>
        <td><span ng-model="owner">{{owner}}</span></td>
        <td></td>
    </tr>

</table>

<table ng-if="data">
    <thead>
        <tr>
            <th>Name</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Company</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in data">
            <td>{{item.FullName.Title}}</td>
            <td>{{item.FullName.FirstName}}</td>
            <td>{{item.FullName.LastName}}</td>
            <td>{{item.FullName.Company}}</td>
        </tr>
    </tbody>
</table>