<table>
    <tr>
        <td>List Name</td>
        <td>
            <select ng-model="selectedItem" ng-change="update()">
                <option ng-repeat="item in listNames" value="{{item.Title}}">
                    {{item.Title}}
                </option>
            </select>
        </td>
        <td colspan="3">
            <input type="button" value="Add People" ng-click="works()" />
        </td>
    </tr>
    <tr ng-if="owner">
        <td>List Owner</td>
        <td><span ng-model="owner">{{owner}}</span></td>
        <td></td>
    </tr>

</table>

<table ng-if="data">
    <thead>
        <tr>
            <th>Name</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Company</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in data">
            <td>{{item.FullName.Title}}</td>
            <td>{{item.FullName.FirstName}}</td>
            <td>{{item.FullName.LastName}}</td>
            <td>{{item.FullName.Company}}</td>
        </tr>
    </tbody>
</table>

<table id="searchTable" ng-if="screenTwo">
    <tr>
        <td>Name</td>
        <td><input type="text" ng-model="name" /></td>
    </tr>
    <tr>
        <td>LastName</td>
        <td><input type="text" ng-model="lastName" /></td>
    </tr>
    <tr>
        <td>Position</td>
        <td><input type="text" ng-model="position" /></td>
    </tr>
    <tr>
        <td>Company</td>
        <td><input type="text" ng-model="company" /></td>
    </tr>
    <tr>
        <td>ListName</td>
        <td>
            <select ng-model="searchListName" ng-change="updateSearchList()">
                <option value=""></option>
                <option ng-repeat="item in listNames" ng-if="item.Title!=selectedItem" value="{{item.Title}}">
                    {{item.Title}}
                </option>
            </select>
        </td>
    </tr>
    <tr>
        <td>List Owner</td>
        <td><input type="text" ng-model="listOwner" /></td>
    </tr>
    <tr>
        <td><input type="button" value="Search" ng-click="searchList(name,lastName,position,searchListName,listOwner,company)" /></td>
        <td><input type="button" value="Cancel" /></td>
    </tr>
</table>

<div id="selectItems" ng-if="result.length">
    <h2>Search Results</h2>
    <table>
        <thead>
            <tr>
                <th><input type="button" ng-model="selectedAll" value="CheckAll/Un-CheckAll" ng-click="checkAll()"/></th>
                <th><input type="button" value="Add marked to selected List" /></th>
                <th><input type="button" value="New Search" /></th>
            </tr>
        </thead>
    </table>
    <table>
        <thead>
            <tr>
                <th>Select</th>
                <th>Last Name</th>
                <th>Company</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="i in result">
                <td>
                    <input type="checkbox" ng-checked="selectedAll" ng-model="item.Selected" value="{{i.Id}}" />
                </td>
                <td>{{i.LastName}}</td>
                <td>{{i.Company}}</td>
            </tr>
        </tbody>
    </table>
</div>