<table>
    <tr>
        <td>List Name</td>
        <td>
            <select ng-model="selectedItem" ng-change="update()">
                <option ng-repeat="item in listNames" ng-selected="selectedItem == item.Title" value="{{item.Title}}">{{item.Title}}</option>
            </select>
        </td>
        <td colspan="3">
            <input type="button" value="Add People" ng-click="works()"/>
        </td>
    </tr>
    <tr>
        <td>List Owner</td>
        <td><span ng-model="owner"></span></td>
        <td></td>
    </tr>

</table>

<table>
    <tr ng-repeat="(key, value) in data">
        <td> {{key}} </td>
        <td> {{ value }} </td>
    </tr>
</table>